X0 { color: #BB9900; }
X1 { color: #775533; }
X2 { color: #BB8855; }
X3 { color: #778811; }
X4 { color: #555555; }
X5 { color: #887744; }
X6 { color: #666655; }
X7 { color: #889933; }
X8 { color: #556666; }
X9 { color: #997700; }
X10 { color: #AA6600; }
X11 { color: #669911; }
X12 { color: #AA8800; }
X13 { color: #558822; }
X14 { color: #BB9922; }
X15 { color: #BB2266; }

X0 { color: #88AA99; }
X1 { color: #BB9988; }
X2 { color: #BB7777; }
X3 { color: #EEBB99; }
X4 { color: #EE8844; }
X5 { color: #EECC55; }
X6 { color: #BBAA00; }
X7 { color: #88CC77; }
X8 { color: #DDBB77; }
X9 { color: #DDBB55; }
X10 { color: #CCAA55; }
X11 { color: #DD9900; }
X12 { color: #77BB99; }
X13 { color: #EEBB77; }
X14 { color: #BBCC11; }
X15 { color: #77CC88; }

X0 { color: #889988; }
X1 { color: #CC7777; }
X2 { color: #DDAA11; }
X3 { color: #BB9966; }
X4 { color: #EEEE11; }
X5 { color: #DDDD99; }
X6 { color: #CCAA77; }
X7 { color: #99BB99; }
X8 { color: #889944; }
X9 { color: #88AA66; }
X10 { color: #AAAA44; }
X11 { color: #77DD44; }
X12 { color: #BB7766; }
X13 { color: #AAAA99; }
X14 { color: #AAEE22; }
X15 { color: #BBBB22; }

X0 { color: #AA99BB; }
X1 { color: #BB7777; }
X2 { color: #9966BB; }
X3 { color: #AA77AA; }
X4 { color: #885566; }
X5 { color: #665577; }
X6 { color: #556699; }
X7 { color: #558866; }
X8 { color: #BB5588; }
X9 { color: #885577; }
X10 { color: #BB8866; }
X11 { color: #558866; }
X12 { color: #8888BB; }
X13 { color: #BB77AA; }
X14 { color: #5566AA; }
X15 { color: #4444AA; }

X0 { color: #559999; }
X1 { color: #AA8877; }
X2 { color: #996677; }
X3 { color: #446688; }
X4 { color: #BB7744; }
X5 { color: #665577; }
X6 { color: #999988; }
X7 { color: #669999; }
X8 { color: #779955; }
X9 { color: #BB55AA; }
X10 { color: #665577; }
X11 { color: #776677; }
X12 { color: #668899; }
X13 { color: #776699; }
X14 { color: #775566; }
X15 { color: #6699BB; }

X0 { color: #7799BB; }
X1 { color: #AA6677; }
X2 { color: #BB8877; }
X3 { color: #775588; }
X4 { color: #994477; }
X5 { color: #AA9966; }
X6 { color: #AA77AA; }
X7 { color: #557777; }
X8 { color: #995599; }
X9 { color: #AA9944; }
X10 { color: #886655; }
X11 { color: #448899; }
X12 { color: #445599; }
X13 { color: #777766; }
X14 { color: #BB5544; }
X15 { color: #6688BB; }

X0 { color: #9966BB; }
X1 { color: #448877; }
X2 { color: #BB5599; }
X3 { color: #8899BB; }
X4 { color: #8899BB; }
X5 { color: #9977BB; }
X6 { color: #4499BB; }
X7 { color: #AA4466; }
X8 { color: #886666; }
X9 { color: #6688AA; }
X10 { color: #6677AA; }
X11 { color: #BB9988; }
X12 { color: #8888AA; }
X13 { color: #886655; }
X14 { color: #BB55AA; }
X15 { color: #AA6655; }

X0 { color: #556677; }
X1 { color: #778899; }
X2 { color: #778899; }
X3 { color: #778899; }
X4 { color: #99AABB; }
X5 { color: #8899AA; }
X6 { color: #8899AA; }
X7 { color: #556677; }
X8 { color: #667788; }
X9 { color: #8899AA; }
X10 { color: #99AABB; }
X11 { color: #667788; }
X12 { color: #667788; }
X13 { color: #99AABB; }
X14 { color: #8899AA; }
X15 { color: #667788; }

X0 { color: #99AABB; }
X1 { color: #8899AA; }
X2 { color: #667788; }
X3 { color: #556677; }
X4 { color: #667788; }
X5 { color: #556677; }
X6 { color: #556677; }
X7 { color: #667788; }
X8 { color: #667788; }
X9 { color: #556677; }
X10 { color: #667788; }
X11 { color: #667788; }
X12 { color: #778899; }
X13 { color: #778899; }
X14 { color: #778899; }
X15 { color: #99AABB; }
